!!! 5
%html
  %head
    %title Ear Cones - Ear Candles | Bali
    %meta{http: {equiv: 'Content-Type'}, content: 'text/html;charset=utf-8'}
    %meta{name: 'description', content: 'Ear Cones - Ear Candles | Bali'}
    %meta{name: 'keywords', content: 'ear, cones, candles, bali'}
    %link{rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon'}
    %link{rel: "stylesheet", type: "text/css", href: "public/stylesheets/application.css"}
    
    /[if IE]
      %link{rel: "stylesheet", type: "text/css", href: "public/stylesheets/ie.css"}
  
  %body
    #container
      %h1
        %span Ear Cones, Respiratory Refresher
      
      .thumb.left
        %img{src: 'public/images/photos/first.jpg'}
        %p Excellent for sinus problems, ear ache, glue ear, swimmers ear, some chronic headaches, ringing in the ears (tinnitus), hearing difficulties, headache, sore throat and allergies.
      
      .thumb.right
        %img{src: 'public/images/photos/second.jpg'}
        %p Will aid removal of excessive ear wax. May also help to relieve pressure after flying, deep sea diving or whenever an imbalance of pressure has accurred. i.e. caused by altitude, the consequences of cold, headphones, telephones, etc. May also help to relax and calm, relieving symptoms of stress and anxiety.
      
      .thumb.left
        %img{src: 'public/images/photos/fourth.jpg'}
        %p Ear Conning dates back to ancients times. The spiral of the cone and herbal smoke in the ear canal work together to draw out physical and emotional debris. This is very relaxing and non-invasive. The cone is burnt down to about 6" and does not feel hot to the ear.
      
      .thumb.right
        %img{src: 'public/images/photos/third.jpg'}
        %p Ancient Chinese, Tibetan, Egyptian, Mayan, Aztec and American Indian Cultures used them.
        
        %form{action: "https://www.paypal.com/cgi-bin/webscr", method: 'post', target: "_top"}
          %input{type: 'hidden', name: 'cmd', value: "_xclick"}
          %input{type: 'hidden', name: 'business', value: "sgreenrabbit1@gmail.com"}
          %input{type: 'hidden', name: 'lc', value: "US"}
          %input{type: 'hidden', name: 'item_name', value: "Ear candle"}
          %input{type: 'hidden', name: 'amount', value: "7.00"}
          %input{type: 'hidden', name: 'currency_code', value: "USD"}
          %input{type: 'hidden', name: 'button_subtype', value: "services"}
          %input{type: 'hidden', name: 'no_note', value: "0"}
          %input{type: 'hidden', name: 'bn', value: "PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest"}
          %input{type: 'image', src: "public/images/icons/button.png", border: 0, name: 'submit', alt: "PayPal - The safer, easier way to pay online!"}
          %img{border: 0, src: "public/images/icons/button.png", width: 1, height: 1}
      
      %p
        Powered by
        %a{href: "http://psyberia.pro", target: "_blank"} Psyberia